body {
    background: black;
    perspective: 150px;
    overflow: hidden;
}

.main-text {
    font-family: sans-serif;
    font-size: 30px;
    color: gold;
    font-weight: bold;
    width: 600px;
    margin: 0 auto;
    transform: rotateX(30deg);
    animation: movingUp 30s infinite linear;
}

.title {
    display: block;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

@keyframes movingUp {
    0% {
        transform: rotateX(25deg) translateY(400px);
    }
    100% {
        transform: rotateX(25deg) translateY(-300px);
    }
}